* {
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
    line-height: normal;
}
  
a {
  text-decoration: none !important;
  color: $black !important;
  line-height: normal;

  &:hover {
      color: $blue !important;
  }
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

.bg-purple {
    background-color: $bg-purple !important;
}

.bg-blue {
    background-color: $bg-blue !important;
}

.bg-pink {
    background-color: $bg-pink !important;;
}

.bg-grey {
    background-color: $bg-grey !important;;
}

.bg-white {
    background-color: $bg-white !important;;
}

.purple {
    color: $purple !important;
}

.blue {
    color: $blue !important;
}

.pink {
    color: $pink !important;
}

.white {
    color: $white !important;
}

.border-purple {
    border-color: $purple !important;
}

.border-blue {
    border-color: $blue !important;
}

.border-pink {
    border-color: $pink !important;
}

.table-purple {
    background-color: $purple !important;
}

.btn-perso {
    background-color: $purple;
    border-color: $black;
    color: $white;
    border-radius: 0.4em;

    &:hover {
        background-color: $white;
        color: $purple;
    }
}

.fs-7 {
    font-size: 0.85em;
}

.decalage_page {
    top: 0;
    margin-top: 100vh;
    width: 100%;
}