.team_page {
    top: 0;
    margin-top: 100vh;
}

.purplesquare {
    height: 20em;
    width: 17em;
}

.presentation {
    width: 33.333333%;

    img {
        height: 20em;
        top: -4em;
    }
}

.presentation_nom {
    padding-top: 10.9em;
}