{% extends "app0_base/base.html" %}
{% load static %}
{% load i18n %}

{% block imagefond %}
<img src="{% static 'app0_base/img/contact_back.jpg' %}" alt="" class="image-fond image-fond-contact position-absolute">
{% endblock imagefond %}


{% block content %}

<!-- Page contact -->
<div class="intro_contact_page">
    <h2 class="text-center white">Une question, on projet, de la curiosité ?</h2>
    <h1 class="text-center white">Contactez-nous !</h1>
    <div class="pink pe-md-5 pb-5">
        <h1 class="text-center">00 00 00 00 00</h1>
        <h1 class="text-center">contact@aratech.fr</h1>
    </div>
</div>

<!-- Formulaire -->
<div class="contact_page decalage_page bg-grey">
    <div class="d-flex flex-column align-items-center">
        <form class="contact-form p-4 p-sm-5" method="post">

            {% csrf_token %}
            <!-- {{ form.as_p }} -->
    
            <!-- Nom prénom -->
            <div class="d-flex flex-column flex-sm-row">
                <div>
                    <p>Nom</p>
                    <input type="text" id="id-name" name="name" class="form-control rounded-pill mb-4">
                </div>
                <div class="ms-sm-auto">
                    <p>Prénom</p>
                    <input type="text" id="id-firstname" name="firstname" class="form-control rounded-pill mb-4">
                </div>
            </div>
        
            <!-- Téléphone Email -->
            <div class="d-flex flex-column flex-sm-row">
                <div>
                    <p>Téléphone</p>
                    <input type="text" id="id_phone" name="phone" class="form-control rounded-pill mb-4">
                </div>
                <div class="ms-sm-auto">
                    <p>E-Mail</p>
                    <input type="email" id="id_email" name="email" class="form-control rounded-pill mb-4">
                </div>
            </div>

            <!-- Message -->
            <div class="form-group">
                <p>Message</p>
                <textarea itemid="id_message" class="form-control rounded-4" id="message" rows="3"></textarea>
            </div>
        
            <!-- Send button -->
            <div class="d-flex">
                <button class="btn btn-perso text-end mt-4 mx-auto" type="submit">Send</button>
            </div>
            
        </form>

        <p class="bloctel pb-1 px-2 px-md-5">En soumettant ce formulaire, j’accepte que les informations saisies soient exploitées dans le cadre de la demande de contact. Pour plus d'informations, veuillez consulter nos <a href="{% url 'legal notice' %}"><u>mentions légales</u></a>.</p>
        <p class="bloctel pb-5 px-2 px-md-5">Conformément à l'article L.223-2 du Code de la Consommation, nous vous informons de l’existence de la liste d'opposition au démarchage téléphonique « Bloctel », sur laquelle vous pouvez vous inscrire (https://conso.bloctel.fr/).</p>

    </div>
    

    {% include 'app0_base/footer.html' %}

</div>

{% endblock content %} 