{% extends "app0_base/base.html" %}
{% load static %}
{% load i18n %}

{% block imagefond %}
<img src="{% static 'app0_base/img/savoir-faire_back.jpg' %}" alt="" class="image-fond position-absolute">
{% endblock imagefond %}


{% block content %}

<!-- Page Savoir-faire -->
<div>
    <h1 class="text-end py-5 my-4 pe-5 purple text-uppercase">Une application sur mesure !</h1>
    <div class="p-5 pink">
        <h1 class="text-center pt-5 mt-5">Code / I.A.</h1>
        <h1 class="text-center">Vous avez une idée, un projet,</h1>
        <h1 class="text-center">nous avons les compétences.</h1>
    </div>
</div>

<!-- Explications -->
<div class="decalage_page bg-grey position-absolute">
    <h5 class="text-center py-4 px-5">Nous développons votre produit avec notre expérience</h5>
    <div class="px-5">
        <p>L'idée de base, c'est de vous faire gagner du temps et de vous faciliter le quotidien.</p>
        <p>Pour arriver à ce but, il y aura plusieurs étapes :
            <ul class="liste px-5">
                <li>Nous discutons de votre projet</li>
                <li>Nous vous proposons une maquette qui vous donnera un bonne idée de ce que fera l'application. Cette étape peut être réalisé par vos soins si vous préférez</li>
                <li>Une fois que nous sommes tomber d'accord, nos développeurs et chercheur I.A. se mettent au travail pour réaliser l'application et ses fonctionnalités</li>
                <li>Pour finir, viens la phase de test. Vos retours d'expérience seront essentiels pour améliorer l'application et ajouter de nouvelle fonctionnalités.</li>
            </ul>
        </p>
    </div>
    <h5 class="text-center py-4 px-5">Nous sommes une petite équipe, ce qui nous permet de tous connaitre les projets de l'entreprise et d'être très réactif.</h5>


    {% include 'app0_base/footer.html' %}

</div>

{% endblock content %} 