{% extends "app0_base/base.html" %}
{% load static %}
{% load i18n %}

{% block imagefond %}
<img src="{% static 'app0_base/img/savoir-faire_back.jpg' %}" alt="" class="image-fond position-absolute">
{% endblock imagefond %}


{% block content %}

<!-- Page Savoir-faire -->
<div>
    <h1 class="text-end py-md-5 my-5 pe-2 pe-md-5 purple text-uppercase">Une application sur mesure !</h1>
    <div class="p-2 p-md-5 pink">
        <h1 class="text-center pt-md-5 mt-5">Code / I.A.</h1>
        <h1 class="text-center">Vous avez une idée, un projet,</h1>
        <h1 class="text-center mb-5">nous avons les compétences.</h1>
    </div>
</div>

<!-- Explications -->
<div class="decalage_page bg-grey">
    <h5 class="text-center py-4 px-3 px-md-5">Nous développons votre produit avec notre expérience</h5>
    <div class="px-2 px-md-5">
        <h6>L'idée de base, c'est de vous faire gagner du temps et de vous faciliter le quotidien.</h6>
        <h6 class="mb-3">Pour arriver à ce but, il y aura plusieurs étapes :</h6>
        <ul class="liste list-group list-group-numbered fs-6 px-3 px-md-5">
            <li class="list-group-item">Nous discutons de votre projet</li>
            <li class="list-group-item">Nous vous proposons une maquette qui vous donnera un bonne idée de ce que fera l'application. Cette étape peut être réalisé par vos soins si vous préférez</li>
            <li class="list-group-item">Une fois que nous sommes tombé d'accord, nos développeurs et chercheur I.A. se mettent au travail pour réaliser l'application et ses fonctionnalités</li>
            <li class="list-group-item">Pour finir vient la phase de test. Vos retours d'expérience seront essentiels pour améliorer l'application et ajouter de nouvelle fonctionnalités.</li>
        </ul>
    </div>
    <h5 class="text-center py-4 px-2 px-md-5">Nous sommes une petite équipe, ce qui nous permet de tous connaitre les projets de l'entreprise et d'être très réactif.</h5>


    {% include 'app0_base/footer.html' %}

</div>

{% endblock content %} 