{% load static %}
{% load i18n %}

<head>
    <title>{% trans 'Footer' %}</title>
</head>


<footer class="{% if '/index' in request.path %}fixed-bottom{% else %}{% endif %} d-flex justify-content-evenly align-items-center bg-grey fs-7 py-2">
    <div class="entreprise d-flex flex-column align-items-center">
        <!-- Logo de la société -->
        <a class="text-uppercase font-weight-bold p-0 m-0 pb-1" href="{% url 'index' %}">
            <img src="{% static 'app0_base/img/logo_aratech_carre-100x120.png' %}" class="navbar-brand-img" width="50em">
        </a>
        <p>Rhône-Apes</p>
        <p>00 00 00 00 00</p>
    </div>

    <div class="sommaire text-uppercase">
        <a href="" class="text-center">L'équipe</a>
        <a href="" class="text-center">Savoir-faire</a>
        <a href="" class="text-center">Notre I.A.</a>
        <a href="" class="text-center">Contact</a>
        <a href="" class="text-center">Mentions légales</a>
    </div>

    <div class="discutons d-flex flex-column align-items-center">
        <h6 class="purple mb-2 fw-bold">Un projet ?</h6>
        <a href="{% url 'contact' %}" class="btn btn-perso text-center white">Discutons-en !</a>
    </div>
</footer>