{% extends "app0_base/base.html" %}
{% load static %}
{% load i18n %}

{% block imagefond %}
<img src="{% static 'app0_base/img/index_back.jpg' %}" alt="" class="image-fond position-absolute">
{% endblock imagefond %}


{% block content %}

<!-- Page index -->
<div class="index_page">
    <div class="d-flex justify-content-around">
        <h2 class="text1 text-center">Développeur d'applications contenant de l'Intelligence Artificielle</h2>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-center">Un besoin en I.A. ?</h2>
            <h2 class="text-center">Un projet d'application ?</h2>
            <a href="{% url 'contact' %}" class="btn btn-perso text-center white">
                <h4 class="mb-0">Discutons-en !</h4>
            </a>
        </div>
    </div>
    
    <h1 class="text2 pink w-75 mx-auto text-center">Simplifier vous la vie avec notre Intelligence Artificielle et/ou une application sur mesure !</h1>
</div>

{% include 'app0_base/footer.html' %}

{% endblock content %} 

